<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express App</title>
</head>
<body>
  <h1>Notes</h1>

  <div id="notes"></div>

  <form method="post" action="/info">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="details" placeholder="Details">
    <button>Submit</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/front.js"></script>
</body>
</html>